body {
  background-color: #e3fdfd;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #71c9ce;
  /* background-color: black; */
  /* height: 200px; */
  width: 10%;
}

img {
  height: 200px;
}

h1 {
  color: #71c9ce;
}

h3 {
color: #1687a7;
}
